{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Leave of Absence Form</title>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <!-- Bootstrap CSS -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

</head>
<style>
.header{
		text-align: center;
		margin-left: 20px;
		align-content: center;
		 }


#logo{
        position:absolute;
		left:430px;
		top:20px;
}

body{
	font-size: 12px;
}


</style>
<body>
	<div class="container">
		<div>
	<table align="center"  class="header" width=99%>
		<tr>
			<td style="margin-left: 30px;"><img src="C:\Users\Vea\Desktop\iPLM-master\CRS\static\CRS\images\plm.png" id="logo" height="80px" width="80px"> </td>
			<td style="margin-left: -340px;"> 
				<p class="text-center my-0 py-0"> Republic of the Philippines <br>
				<b>PAMANTASAN NG LUNGSOD NG MAYNILA</b> <br>
				<i>(University of the City of Manila)</i><br>
				General Luna Street corner Muralla Street<br>
				Intramuros, Manila </p>
			</td>
		</tr>
		
		<tr>
			<td colspan=2 align="center"> <br><br><h1 class="text-center mx-auto"><b>LEAVE OF ABSENCE FORM</b> </p><br><br> </td>
			
		</tr>

	</table>
	<hr style="margin-top: -100px;">
</div>
	<div class="mx-auto ml-5">
<table  class="fillup">
	<tr>
		<td colspan=1> <p class="ml-5 my-0 py-0"> Date of Filing: </p> </td>
		<td colspan=1> <p class="ml-3 my-0 py-0"> <u><b>{{dof}}</b></u> </p></td>
		<td colspan=2 width=50%>
		</td>
		
	</tr>
	<tr></tr>
	<tr>
		<td> <p class="ml-5 my-0 py-0"> Student No.:</p> </td>
		<td> <p class="ml-3 my-0 py-0"><u><b>{{info.studentID}}</b></u> </p></td>
		<td></td>
		<td> <p class="ml-5 pl-4 my-0 py-0">College:</p> </td>
		<td> <p class="ml-3 my-0 py-0"><u><b>{{info.collegeID}}</b></u></p></td>
	</tr>
	
	<tr>
		<td><p class="ml-5 my-0 py-0"> Student Name:	</p>	</td>
		<td><p class="ml-3 my-0 py-0"> <u><b>{{info.studentUser.firstName}} {{info.studentUser.middleName}} {{info.studentUser.lastName}}</b></u></p> </td>
		<td></td>
		<td><p class="ml-5 pl-4 my-0 py-0"> Course: </p> </td>
		<td> <p class="ml-3 my-0 py-0"><u><b>{{info.studentCourse}}</b></u> </p></td>
	</tr>

	<tr>
		<td><p class="ml-5 my-0 py-0"> Student Type.: </p> </td>
		<td> <p class="ml-3 my-0 py-0"><u><b>{{info.studentType}}</b></u> </p> </td>
		<td></td>
		<td> <p class="ml-5 pl-4 my-0 py-0"> Year Level:</p> </td>
		<td> <p class="ml-3 my-0 py-0"><u><b>{{info.studentYearlevel}}</b></u> </p></td>
	</tr>

	<tr>
		<td> <p class="ml-5 my-0 py-0">Academic Status: </p> </td>
		<td> <p class="ml-3 my-0 py-0"><u><b>{{info.studentRegStatus}}</b></u> </p></td>
		<td></td>
		<td> <p class="ml-5 pl-4 my-0 py-0">GWA: </p>	</td>
		<td> <p class="ml-3 my-0 py-0"><u><b>{{genave}}</b></u> </p></td>
		<td></td>
	</tr>
</table> </div>

<div>
<hr>
<table align="center" width=100%>
	<tr>
		<td><p class="ml-4 my-0 py-0"> Effective From:</p> </td>
		<td></td>
		<td> <p class="ml-0 my-0 py-0"><br> Sem/Term, SY: </p> </td>
		<td><p class="ml-4 my-0 py-0"><br> <u><b>{{sem}},{{sy}}</b></u></p> </td>
		
		<!-- PLEASE CHECK HERE KASI IDK KUNG ANO GAGAWIN NIYO DITO TO SOLID THE COLOR OF THE BOX DAHIL SA REQUIREMENTS-->
		<td rowspan=3><br>
		<b>Please Attached the Following:</b> <br>
		[&nbsp;&nbsp;] Letter of Request for LOA <br>
		[&nbsp;&nbsp;] Clerance from Registrar  <br>
		[&nbsp;&nbsp;] Note of Undertaking <i>(if applicable)</i> <br>
		[&nbsp;&nbsp;] Student's Checklist & Study Plan
		</td>
	</tr>
	
	<tr>
		<td> <p class="ml-5 my-0 py-0"> Effective Until: </p> </td>
		<td></td>
		<td> <p class="ml-0 my-0 py-0"><br> Sem/Term, SY:</p> </td>
		<td> <p class="ml-3 my-0 py-0"><br><u><b>{{sem2}},{{sy2}}</b></u></p> </td>
	</tr>

	<tr>
		<td><p class="ml-5 my-0 py-0"> Reason:</p> </td>
		<td colspan=3> <p ><u><b>{{reason}}</b></u> </p></td>
</table>

<!--end-->
</div>

<br><br>
<table align="center" width=100%>
	<tr>
		<td align="center">
			<b></b> <br>
			<u><b>{{info.studentUser.firstName}} {{info.studentUser.middleName}} {{info.studentUser.lastName}}</u></b> <br>
			Student's Signature over printed name
		</td>
		
		<td align="center">
			<b></b><br>
			<u><b>{{info.studentUser.firstName}} {{info.studentUser.middleName}} {{info.studentUser.lastName}}</u></b><br>
			Student's Signature over printed name
		</td>
	</tr>
</table>
<br>
<table border=1 align="center" width=99%>
	<!-- number 1-->
	<tr>
		<td>
			<table align="center" width=100%>
			<tr><td colspan=2> 1. Endorsed by:	</td> </tr>
			<tr> <td colspan=1 align="center" width=70%> <u><b>{{info.departmentID.chairperson.cpersonUser.firstName}} {{info.departmentID.chairperson.cpersonUser.middleName}} {{info.departmentID.chairperson.cpersonUser.lastName}}</b></u>
				<br> Department Chair </td>
				<td colspan=1 align="center"> <u><b>_________________</b></u> 
				<br> Date </td>	</table>
		</td>
	</tr>
	<!-- number 2-->
	<tr>
		<td>
			<table  align="center" width=100%>
				<tr> <td colspan=2>	2. Recommending Approval: </td> </tr>	
				<tr> <td colspan=1 align="center" width=70%> <u><b></b></u> <br> College Dean </td>
			    <td colspan=1 align="center"> <u><b>________________</b></u>
				<br> Date </td>					
			</table>
		</td>
	</tr>
	<!-- number 3-->
	<tr>
		<td>
			<table align="center" width=100%>
				<tr> <td colspan=2>	3. Recommending Approval: </td> </tr>
				
				<tr> <td colspan=1 align="center" width=70%> <u><b></b></u>
						<br> University Registrar </td>
					
					<td colspan=1 align="center"> <u><b>___________________</b></u>
						<br> Date	</td>					
			</table>
		</td>
	</tr>	
	<!-- number 4-->
	<tr>
		<td>
			<table align="center" width=100%>
				<tr> <td colspan=2>	4. Approved/Disaaproved:</td> </tr>
				<tr> <td colspan=1 align="center" width=70%> <u><b></b></u>
				<br> Vice President of Academic Affairs </td>
					
				<td colspan=1 align="center"> ___________________<u><b></b></u>
				<br> Date	</td>					
			</table>
		</td>
	</tr>
</table>
<!--end of table-->

<p class="ml-5 my-0 py-0">PAO 13 S. 2014 </p>

<table align="center" width=100%>
	<tr> <td><p class="ml-5 my-0 py-0"> Signed:<br></p></td> </tr>
	
	<tr> <td><p class="ml-5 my-0 py-0"> <b>({{info.departmentID.chairperson.cpersonUser.firstName}} {{info.departmentID.chairperson.cpersonUser.middleName}} {{info.departmentID.chairperson.cpersonUser.lastName}}</b></p> </td> </tr>
	<tr> <td><p class="ml-5 my-0 py-0"> Chairperson, {{info.departmentID}}</p> </td></tr>
</table>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>