{%load static%}
<html>
<head>
	<title>Request for Transfer Certificate</title>
</head>

<body>
Revised July 2007
<table align="center">
	<tr>
		<td width=150>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
		<td align="right" width=50>
			<img src="{% static 'CRS/images/iplm.png' %}", height="70px" width="70px">
		</td>
		<td align="center">
			Republic of the Philippines
			<br>
			<b>PAMANTASAN NG LUNGSOD NG MAYNILA</b>
			<br>
			<i>(University of the City of Manila)</i>
			<br>
			General Luna Street corner Muralla Street
			<br>
			Intramuros, Manila
		</td>
		<td>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</td>
	</tr>
</table>
<table align="center">
	<tr>
		<td colspan=2 align="center">
		<br><br>
		<b>REQUEST FOR TRANSFER CERTIFICATE</b>
		
		</td>
	</tr>
</table>

<br><br>

<table align="center" width=100%>
	<tr>
		<td width=50% rowspan=2>
			I have the honor to apply for the issuance of my Transfer Credentials this <u><b>{{ studentDay }}</b></u> day of <u><b>{{ studentMonth }}</b></u>, <u><b>{{ studentYear }}</b></u>.
		</td>

		<td width=50% align="left" style="margin-left: 100px;">
			<b><u>{{ studentCollege }}</u></b>
			<br>
			College
		</td>
	</tr>
	
	<tr>
		<td width=50% align="left" style="margin-left: 100px;">
			<b><u>{{ studentCredentials }}</u></b>
			<br>
			Credentials Submitted
		</td>

	<tr>
		<td width=50%>
			I am going to enroll in <u><b>{{ studentSchool }}</b></u> located at <u><b>{{ studentSchooladdress }}</b></u>
		</td>

		<td width=50% align="left" style="margin-left: 100px;">
			<b><u>{{ studentFirstSY }}</u></b>
			<br>
			First Enrollment in College
		</td>
	</tr>

	<tr></tr>
	
	<tr>
		<td width=50% align="right">
			<table width=100%>
				<tr>
					<td width=50%>
					</td>
					
					<td align="center">
						<u><b>_____________________</b></u>
						<br>
						Signature
					</td>
				</tr>
				
			</table>
		</td>

		<hr>

		<td width=50% align="left" style="margin-left: 100px;">
			<b><u>{{ studentLastPSY }}</u></b>
			<br>
			Last Enrollment in College
		</td>
	</tr>

	<tr></tr>

	<tr>
		<td width=50%>
			<table align="center" width=100%>
				<tr align="center">
					<td>
						<u><b>{{info.studentUser.lastName}}</u><b>
					</td>
					
					<td>
						<u><b>{{info.studentUser.firstName}} </u><b>
					</td>
					
					<td>
						<u><b>{{info.studentUser.middleName}}</u><b>
					</td>
				</tr>
				
				<tr align="center">
					<td>
						Last Name
					</td>
					
					<td>
						First Name
					</td>
					
					<td>
						Middle Name
					</td>
				</tr>
			</table>
		</td>

		<td width=50% align="left" style="margin-left: 100px;">
			<b><u>{{ studentNoOfSem }}</u></b>
			<br>
			No. Of Semester/ Summers Attended
		</td>

	</tr>

	<tr></tr>
	<tr >
		<td width=50% align="center">
			<u><b>{{ studentHomeaddress }}</b></u>
			<br>
			Address
		</td>

		

		<td width=50% style="margin-left: 100px;" align="left">
			<u><b>{{ studentDegree }}</b></u>
			<br>
			Title/Degree Obtained
		</td>
	</tr>
	<tr>
		<td width=50% align="right">
		<table width=100%>
			<tr></tr><tr></tr>
			<tr>
				<td></td>
				
				<td align="center">
					<u><b>________________________</b></u>
					<br>
					Receiving Clerk
				</td>
			</tr>
		</table
		</td>
		
		<td width=50% align="right">
		<table width=100%>
			<tr></tr><tr></tr>
			<tr>
				<td align="center">
					<u><b>_______________________</b></u>
					<br>
					Date Obtained
				</td>
				
				<td width=50%>
				</td>
			</tr>
		</table
		</td>
	</tr>
</table>
<br>
<center><b>(COPY FOR THE UNIVERSITY REGISTRAR)</center>
<br>
<hr color="black">
<br>

<table align="center">
	<tr align="center">
		<td align="left" width=50 style="margin-left: 220px;">
			<img src="CRS\images\plm.png", height="70px" width="70px">
		</td>
		<td align="center">
			<b>PAMANTASAN NG LUNGSOD NG MAYNILA</b>
			<br>
			<i>(University of the City of Manila)</i>
			<br>
			Intramuros, Manila
		</td>
	</tr>
	
	<tr>
		<td colspan=2 align="center">
		<br><br>
		<b>CERTIFICATE OF TRANSFER</b>
		
		</td>
	</tr>
</table>

<table width=100% align="center">


	<tr style="float: right;">
			{{ studentMonth }} {{ studentDay }}, {{ studentYear }}

	</tr>
	
	<tr>
		<td colspan=2>
		<br>
		TO WHOM IT MAY CONCERN:
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		This is to certify that, Mr./Ms. <u><b>{{info.studentUser.firstName}}  {{info.studentUser.middleName}} {{info.studentUser.lastName}}</b></u> (Student No. <u><b>{{info.studentID}}</b></u> of the College of <u><b>{{ studentCollege }}</b></u> is hereby issued this certificate of Transfer from this University effective today. His/her official transcript of records shall be forwarded upon receipt of the <b>REQUEST SLIP</b> below.
		<br><br>	
	</tr>

	<tr>
		<td>
		NOT valid without SEAL.
		</td>
		
		<td align="center">
			<u><b>_______________________</u></b>
			<br>
			University Registrar
		</td>
	</tr>	
</table>
<br><br>
<hr color="black">
<center><b>REQUEST SLIP</b></center>

</body>
</html>